@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.company-board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: fn.get-color('dark-primary');
  @include mx.mq('md') {
    flex-direction: row-reverse ;
    flex-wrap: wrap; 
    justify-content: left;
  }

}

.company-item {
  @extend %section-frame;

  flex-grow: 0;

  width: 100%;
  height: 196px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  background-color: fn.get-color('dark-tertiary');
  

  @include mx.mq('md') {
    max-width: calc((100% - 20px)/2) ;
  }
  @include mx.mq('xl') {
    max-width: calc((100% - 40px)/3) ;
  }
}

.first-row{
display: inline-flex;
justify-content: space-between;
align-items: center;
margin-bottom: 4px;
}

.company-icon{
fill: fn.get-color('light');
}
.location{
  display: inline-flex;
  justify-content: left;
  align-items:center;
  margin-bottom: 32px;
  column-gap: 8px;

  &-icon{
    fill:fn.get-color('success');
  }

  &-text{

  }

  &-btn{  
    color: fn.get-color('accent-primary');
    border: 1 px solid;
    border-color: fn.get-color('accent-primary');
    width: 89px;
    height: 36px;
    justify-content: center;
    align-items: center;
  }
}